html{
  scroll-behavior: smooth;
}

h1{
    font-size: 48px;
    line-height: 1;
    padding: 15px;
    text-align: center;

}

body{
  background-color: #adecd2;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

p{
  font-size: 18px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  line-height: 33px;
  font-family: "Trirong", serif;
}

#name p{
  position: relative;
  top: 35px;
  left: 43px;
  font-size: 24px;
  font-style: oblique;
  font-weight: bold;
  line-height: 10px;
  padding-bottom: 20px;
  color: #ffffff;
}

.bio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.bio img{
  width: 350px;
  height: 350px;
  display: block;
  padding: 3px;
  border: 5px dashed #79c089ec;
  margin: 30px;
  border-radius: 90px 0px 40px 0px;


}



img:hover{
    -moz-img-shadow: 0 0 15px #c9ec29;
    -webkit-img-shadow: 0 0 15px #c9ec29;
    box-shadow: 0 0 15px #c9ec29;
}

nav{
  width: 100%;
}

nav li{
	background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;

}

a:hover{
    /* make the background color of your link black and the text white when you hover over it */
    color: #adff2f;
    background-color: #00008b;
}

.active a{
	text-transform: uppercase;
  color: #ffffff;
  background-color: #5757b9;
}

.skip{
  position: absolute;
  left: -500px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

.button {
    background-color: #8dad8e;
    display: inline-block;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    border: 5px solid #a3d673;
    border-radius: 60px;
    padding: 8px;
    
}
  
legend{ 
    font-size: 150%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
}
  
  label{
    display: inline-block;
    margin-right:10px;
    width:10%;
    line-height: 20px;
  }
  input {
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left: 20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
input[type=checkbox]{
      display:inline;
      width:inherit;
}
  
  input[type=submit] {
    background-color: #38803C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  /*deleted line*/
  .nav_links{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

  }
    
  .bio img{
      width: 40%;
      height: 40%;
      display: flex;
      margin: 0 auto;
      flex-flow: row wrap;
      animation-timing-function: ease;
      cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;


  }
    
  @keyframes mymove {
      0%   {width: 165px;}
      100% {width: 225px;}
  }

  @media screen and (prefers-reduced-motion: reduce){
    .bio img {
      animation: none;
    }
    .bio img{
        animation: reduce;
    }
  }

    .bio img{
      animation: mymove 5s;
      
    }
   
    #name p{
      position: relative;
      top: -10px;
      left: 140px;
      font-size: 14px;
      font-style: oblique;
      font-weight: bold;
      line-height: 15px;
      color:#ffffff;
      padding: 10px;

    }

    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
    }
   
   div + label{
      line-height: 3vh;
      vertical-align:top;
    }

#photo{
    display:flex;
    justify-content: center;
    width: 100%;
    line-height: 75px;
    font-size: 30px;
    margin: 40px;
    flex-wrap: wrap;

  }

img{
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 300px;
}

#hobby{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  column-gap: 20px;
  justify-items: center;

 
}